 <!-- REFERENCED FROM THE PROFESSOR AHMED'S VIDEOS -->
 
 <!--Script files-->
<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark" >
    <h6 class="navbar-text">&copy; Copyright 2022. All Rights reserved.</h6>
  </nav>