<!-- REFERENCED FROM THE PROFESSOR AHMED'S VIDEOS -->

<!-- REMOVED HEADER FOR NOW, THE HEADER MADE IT DIFFICULT TO READ THE ERRORS -->

<div class = "container">
    <h1> <%= message %></h1>
    <h2> <%= error.status %></h2>
    <pre> <%= error.stack %></pre>
</div>
