<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>


<!-- commented out of form class for now: action="/login"  -->
<form class="signIn" method="post" autocomplete="off"> <!-- ses form class, directs to login file, using post method -->

  <h2>Sign in to your account</h2> <!-- page header -->

  <fieldset class="form-group">
    <label for="username"> Username </label>
    <input type="text" class="form-control"
      name="username" placeholder="Enter your name" id="username" 
      required autofocus>
    </fieldset>
 
      <!-- COMMENTED OUT FOR NOW, IT'S FASTER TO TEST WITHOUT THIS
      <label for="email" class="sr-only">Email Address</label> 
  <input type="email" id="email" name="email" class="form- 
              control" placeholder="Enter your email address" required>
-->
<fieldset class="form-group">
  <label for="password" class="sr-only">Password</label> 
  <input type="password" id="password" name="password" class="form-control" 
  placeholder="Enter your password" required> 
</fieldset>
  
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> <!-- button for sign in -->
  <br>
  <p>Don't have an account? <a href="/signup">Signup</a> </p> <!-- link to sign up -->

</form>
</div>

<%- include ('../partials/footer.ejs') %>
