:root{
    --textcolor: #EA638C;
    --bgcolor: linear-gradient(#03012C, #B33C86)
    --font4headers: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}




#bgvid{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    right: 0;
    top: 0;
    z-index: -10; /*sends the background video far back so all other elemts are shown*/
    
}
#companyname{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
#title{
    color: var(--textcolor);
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font4headers);
}

.auto-type{
    text-align: center;
    color: purple;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
    margin-bottom: 20px;
    font-family: var(--font4headers);
}

.btntray{
    position: absolute;
    left:35%;
    top: 40%;

    

    width: clamp(10%, 400px, 40%);
    height: clamp(10%, 300px, 40%);
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 3%;
    animation: slideInLeft;
    animation-duration: 2s;
}

.btntray a{  /*Designs for the exterior of the button*/
    background-color:#333;
    padding:20px;
    border-radius:10px;
    color: var(--textcolor);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
}

.btntray a{     /*This is used for designing the interior of the button*/
    text-align: center;
    color: #23395d;
    text-decoration: none;
    background-color: #333;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    
    
}

.titleblock {
    text-align: center;
    color: #EA638C;
    text-decoration: none;
    background-color: #333;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em;
    
    border: 2px solid purple;
    border-radius: 15px;
    box-shadow: 0 0 0.5em #333;
    width: 30%;
    left: 33%;
    position: absolute;



}

.btntray :hover{
    background-color: #23395d;
    color: #333;
    scale: 1.25;

}
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }


  .jumbotron-fluid{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: #fff;
    border-radius: 50px;
}

.section-2{
    text-align: center;
    color: #fff;
    /* background-color:mediumpurple; */
    border-radius: 50px;

}

#coolpic{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10; 
    background: url("../assets/images/betterpic.png" ) no-repeat center center fixed;
    background-size: cover;
}

body, html{
    height: 100%;
}