:root{
    --textcolor: #EA638C;
    --bgcolor: linear-gradient(#03012C, #B33C86)
    --font4headers: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}




#bgvid{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    right: 0;
    top: 0;
    z-index: -10; /*sends the background video far back so all other elemts are shown*/
    
}
#companyname{
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    background-color: #333;
    left: 0;
    top: 0;
    z-index: 10;
    
    
    
    width: 100%;
    height: clamp(10%, 10%, 15%);
}
.titlecontainer{
    position: fixed;
    top: 30%;
    left: 35%;

}
.auto-type{
    font-size: clamp(10%, 10%, 15%);
    font-weight: bold;
    color: #fff;
    text-align: center;
    
}
#title{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: --font4headers;
}
.auto-type{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0;
    margin-bottom: 20px;
    font-family: --font4headers;
}
.container{
    background-color: blue;
    position: absolute;
    width: clamp(200px, 75%, 100%);
    height: clamp(200px, 75%, 100%);
    right: 10%;
    left: 10%;
    top: 10%;

}






.btntray{
    position: absolute;
    left:35%;
    bottom: 100%;

    

    width: clamp(10%, 400px, 40%);
    height: clamp(10%, 300px, 40%);
    
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-column-gap: 3%;
    grid-row-gap: 3%;
    animation: startAtTop;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    
}

.btntray a{  /*Designs for the exterior of the button*/
    background-color:#333;
    padding:20px;
    border-radius:10px;
    color: var(--textcolor);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;  /*Font for the button*/
    
}

.btntray a{     /*This is used for designing the interior of the button*/
    text-align: center;
    color: #EA638C;
    text-decoration: none;
    background-color: #333;
    
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    
    
}

.btntray :hover{
    background-color: #EA638C;
    color: #333;
    scale: 1.25;

}


@keyframes slideInBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes startAtTop {
    from {top: 100%;}
    to {top: 40%;}
    }