<%- include ('../partials/header.ejs') %>

<head>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Game Review Website</h1>
    <p class="lead">We have created this website as means for reviewing video games. Users
    can rate the game and provide a description about it. This website provides convenience for
    gamers to decide if a game is worth playing or not by recognizing the specifics </p>
  </div>
</div>
</head>
<body>
<h1>About the Authors</h1>
<!-- image here-->
<p>Liam Cunningham<p>
<b>
<!-- image here-->
<p>Leo Panseda<p>
<b>
<!-- image here-->
<p>Maia Frangoudis<p>
<b>
<!-- image here-->
<p>Liam McIntosh<p>
<b>
<!-- image here-->
<p>Fatima Kaleem<p>
</body>