<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>


</body>
<div class = "coolpic">
<img src= ../../assets/videos/betterpic.jpg alt="coolpic" >
</div>
<div class="jumbotronfluid">
  <h1 class="display-9"><b>Why Us?</h1>
  <p class="lead"><b>We have created our Game Reivew website as means for reviewing video games with NO FILTER. Users
    can rate the game and provide a description about it. We provides convenience for
    gamers to decide if a game is worth playing or not by distinguising through popular players reviews. </p>
  </div>
<div class = "section-2">
<h1><b>About the Authors</h1>
<img src= ../../assets/videos/cunningham.png alt="lc" >
<h3><b>Liam Cunningham</h3>

<img src= ../../assets/videos/derpsteve.png alt="lf" >
<h3><b>Leo Panseda</h3>

<img src= ../../assets/videos/better.png alt="mf" >
<h3><b>Maia Frangoudis</h3>

<img src= ../../assets/videos/eboy.png alt="lm" >
<h3><b>Liam McIntosh</h3>

<img src= ../../assets/videos/sheep.png alt="fk" >
<h3><b>Fatima Kaleem</h3>
</div>
</body>

<%- include ('../partials/footer.ejs') %>