<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

</body>
<div class = "coolpic">
<img src= ../../assets/videos/betterpic.jpg alt="coolpic" >
</div> 
<div class="jumbotronfluid">
  <h1 class="display-9">Why Us?</h1>
  <p class="lead"><b>We have created our Game Reivew website as means for reviewing video games with NO FILTER. Users
    can rate the game and provide a description about it. We provides convenience for
    gamers to decide if a game is worth playing or not by distinguising through popular players reviews. </p>
  </div>
<div class = "section-2">
<h1>About the Authors</h1>
<!-- image here-->
<p>Liam Cunningham<p>
<b>
<!-- image here-->
<p>Leo Panseda<p>
<b>
<!-- image here-->
<p>Maia Frangoudis<p>
<b>
<!-- image here-->
<p>Liam McIntosh<p>
<b>
<!-- image here-->
<p>Fatima Kaleem<p>
</div>
</body>

<%- include ('../partials/footer.ejs') %>