<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>


<body>
<div>
  <!-- backround image for aboutme page -->
<img src= ../../assets/images/betterpic.jpg alt="coolpic" id="coolpic">
</div>
<div class="jumbotron-fluid">
  <h1 class="display-9"><b>Why Us?</h1>
  <p class="lead"><b>We have created our Game Reivew website as means for reviewing video games with NO FILTER. Users
    can rate the game and provide a description about it. We provides convenience for
    gamers to keep a log of games they've played and their opinion on it when suggesting to other players. Our website
    gives you options of inputting your player name, the game title, your personal description of it, and 
    what you'd give as your overall rating."
  </div>
<div class = "section-2">
<h1><b>About the Authors</h1>
  <!-- Liam cunningham about me description -->
<img src= ../../assets/images/l2.png alt="lc" >
<h3><b>Liam Cunningham</h3>
<p>Second year networking and IT security student with strong programming skills in NodeJS, Javascript and Python. <p> 

  <!-- Leo Fanseda about me description -->
<img src= ../../assets/images/lf1.jpg alt="lf" >
<h3><b>Leo Fanseda</h3>
<p>I study Networking & IT Security. I aspire to work in Cybersecurity in the future, specifically on red team, as it 
is becoming a much more prominent and intriging industry. <p>

  <!-- Maia Frangoudis about me description -->
<img src= ../../assets/images/m1.png alt="mf" >
<h3><b>Maia Frangoudis</h3>
<p>Second year networking and IT security student at Ontario Tech University who loves video games and hopes to one day become an ethical hacker. <p>

  <!-- Liam McIntosh about me description -->
<img src= ../../assets/images/l1.png alt="lm" >
<h3><b>Liam McIntosh</h3>
<p>Second year networking and IT security student at Ontario Tech University working towards becoming an ethical hacker. <p>

  <!-- Fatima Kaleem about me description -->
<img src= ../../assets/images/f1.png alt="fk" >
<h3><b>Fatima Kaleem</h3>
<p>I am a networking and IT Security Student. I enjoy configuring devices and solving troubleshooting problems.
I will be studying at OTU until I get my degree. With that I'll land a job to configure more devices.<p>
</div>
</body>

<%- include ('../partials/footer.ejs') %>