<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>


<body>
<div>
<img src= ../../assets/images/betterpic.jpg alt="coolpic" id="coolpic">
</div>
<div class="jumbotron-fluid">
  <h1 class="display-9"><b>Why Us?</h1>
  <p class="lead"><b>We have created our Game Reivew website as means for reviewing video games with NO FILTER. Users
    can rate the game and provide a description about it. We provides convenience for
    gamers to keep a log of games they've played and their opinion on it when suggesting to other players. Our website
    gives you options of inputting your player name, the game title, your personal description of it, and 
    what you'd give as your overall rating."
  </div>
<div class = "section-2">
<h1><b>About the Authors</h1>
<img src= ../../assets/images/l2.png alt="lc" >
<h3><b>Liam Cunningham</h3>
<p>I am a Networking and IT Security Student. My skills contain of coding in 
NodeJS, Javascript, Python etc. I believe myself to be a driven and task focused individual.Call me your for your programming needs. <p> 

<img src= ../../assets/images/lf1.png alt="lf" >
<h3><b>Leo Fanseda</h3>
<p>I study Networking & IT Security. I aspire to work in Cybersecurity in the future, as it 
is becoming a much more prominent and intruging industry. <p>

<img src= ../../assets/images/m1.png alt="mf" >
<h3><b>Maia Frangoudis</h3>
<p>I am a Networking and IT Security Student. I find myself a very resourceful and ambitious member of 
society. I always stay involved in the community by running events in clubs such as Netsoc, at OTU. I aspire to be the President one day. <p>

<img src= ../../assets/images/l1.png alt="lm" >
<h3><b>Liam McIntosh</h3>
<p>I study Networking & IT Security. Personally, I find cooking much more interesting and will be contemplating 
switching my major in the near future. Learning web & script programming has to be a favourite of mine in my Professor Ahmed Shiekhs class.  <p>

<img src= ../../assets/images/f1.png alt="fk" >
<h3><b>Fatima Kaleem</h3>
<p>I am a networking and IT Security Student. I enjoy configuring devices and solving troubleshooting problems.
I will be studying at OTU until I get my degree. With that I'll land a job to configure more devices.<p>
</div>
</body>

<%- include ('../partials/footer.ejs') %>