<%- include ('../partials/header.ejs') %>
<%- include ('../partials/main_nav.ejs') %>

<form class="row g-3">
  <div class="col-md-6" action=cunninghaml784@gmail.com ?subject=info Form method="post" enctype="text/plain"> <!-- form action="mailto:cunninghaml784@gmail.com" method="post" enctype="text/plain" -->
    <label for="nameInput">Name</label> <!-- label for="nameInput" -->
    <textarea class="form-control" id="nameInput" rows="1" placeholder="John Doe" required></textarea> <!-- textarea class="form-control" id="nameInput" rows="1" placeholder="John Doe" required -->
  </div>
  <div class="col-md-6" action=cunninghaml784@gmail.com ?subject=info Form method="post" enctype="text/plain"> <!-- form action="mailto:cunninghaml784@gmail.com" method="post" enctype="text/plain" -->
    <label for="emailInput">Email address</label> <!-- label for="emailInput" -->
    <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" required> <!-- input type="email" class="form-control" id="emailInput" placeholder="name@example.com" required -->
  </div>
  <div class="col-12" action=cunninghaml784@gmail.com ?subject=info Form method="post" enctype="text/plain"> <!-- form action="mailto:cunninghaml784@gmail.com" method="post" enctype="text/plain" -->
    <label for="messageInput">Message</label> <!-- label for="messageInput" -->
    <textarea class="form-control" id="messageInput" rows="3" required></textarea> <!-- textarea class="form-control" id="messageInput" rows="3" required -->
    <div class="form-group form-check"> <!-- div class="form-group form-check" -->
    <input type="checkbox" class="form-check-input" id="robotCheck" required> <!-- input type="checkbox" class="form-check-input" id="robotCheck" required -->
    <label class="form-check-label" for="robotCheck">I am not a robot</label> <!-- label class="form-check-label" for="robotCheck">I am not a robot</label -->
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button> <!-- button type="submit" class="btn btn-primary">Submit</button -->
  </div>
</form> 
