<!DOCTYPE html> 
<header>
    <title>Game Review Site</title> //title of the page
    <link rel="stylesheet" type="text/css" href="style.css"> //link to the css file
</header>


<style>
    .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}
</style>
<body style="background-color:#03012C">
    <div class="container" style="background-color:#190E4f">
        <div class="grid">
            <div class="Mainbtns">
                <a href="INSERT LINK TO OTHER PAGE">
                    <button class="btn btn-primary" style="background-color:#190E4f">BOX1</button>
                </a>
                
            </div>
            <div class="Mainbtns">
                <a href="INSERT LINK TO OTHER PAGE">
                    <button class="btn btn-primary" style="background-color:#190E4f">BOX2</button>
                </a>
            </div>
            
        
            
        </div>

    </div>
    
</body>



