<%- include ('../partials/headerSplash') %>

<body>
    <video autoplay muted loop id="bgvid">
        <source src="../../../public/assets/videos/bgvid.mp4" type="video/mp4" alt="BACKGROUND VIDEO"> <!-- Source of the video -->
    </video>
    <!--Company/Site name-->
    <div class="pgheader">
    <h1 id="companyname"><%= title %> </h1>
    
    </div>
        <div class="btntray">
            <!--This is the button tray-->


            <a href="home" type="button" class="btn btn-lg btn-block">Dive In!</button>
            </a>


        </div>
    
</body>